# example settings

# DB Settings
MONGO_COLLECTION=athyg
MONGO_DB=starinformation
MONGO_URI=mongodb://yourDBuser:yourDBpass@yourStack_mongo:27017/starinformation?authSource=admin
MONGO_INITDB_ROOT_USERNAME=yourDBuser
MONGO_INITDB_ROOT_PASSWORD=yourDBpass

# DNS Settings
# don't use dots in the subdomain names
DOMAIN=your-website.com
FRONTEND_SUBDOMAIN=starbugs
FRONTEND_URL=https://starbugs.your-website.com
# make sure that the backend subdomain matches the one in the frontend .env file
BACKEND_SUBDOMAIN=starbugs_api
BACKEND_URL=https://starbugs_api.your-website.com
API_PORT=3000
